/*----------------------------------------------------------------------------*/
/*                              RESET & DEFAULTS                              */
/*----------------------------------------------------------------------------*/

/**/
/* fonts */
/**/
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);


/**/
/* reset */
/**/
html, body, div, section, header, footer, article, hr {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: none;
}
body {
	background: #f2f2f2;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #404040;
}
h1, h2, h3, h4, h5, h6, p {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 400;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: none;
}
img {
	outline: none;
	border: none;
}
form, input, select, textarea, button {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
button {
	cursor: pointer;
}
a {
	outline: none;
	text-decoration: none;
	color: #262626;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
a:hover {
	text-decoration: underline;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}


/**/
/* icons */
/**/
@font-face
{
	font-family: 'FontAwesome';
	src: url('../icons/fontawesome-webfont3294.eot?v=3.0.1');
	src: url('../icons/fontawesome-webfontd41d.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../icons/fontawesome-webfont3294.woff?v=3.0.1') format('woff'),
	url('../icons/fontawesome-webfont3294.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone {
	margin-top: 1px;
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.icon-expand-alt:before {
  content: "\f116";
}
.icon-collapse-alt:before {
  content: "\f117";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-flag-alt:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-off:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-horizontal:before {
  content: "\f141";
}
.icon-ellipsis-vertical:before {
  content: "\f142";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-sign-alt:before {
  content: "\f146";
}
.icon-check-minus:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-sign:before {
  content: "\f14a";
}
.icon-edit-sign:before {
  content: "\f14b";
}
.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}


/**/
/* forms */
/**/
.input,
.select,
.textarea,
.radio,
.checkbox,
.button {
	position: relative;
	display: block;
}
.input input,
.select select,
.textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 36px;
	padding: 6px 10px 5px;
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
	line-height: 19px;
	color: #3d3d3d;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.select i {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	border-top: 5px solid #3d3d3d;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}
.textarea textarea {
	height: auto;
	resize: none;
}
.radio,
.checkbox {
	font-size: 14px;
	line-height: 30px;
	padding-left: 26px;
	cursor: pointer;
}
.radio input,
.checkbox input {
	position: absolute;
	left: -9999px;
}
.radio i,
.checkbox i {
	position: absolute;
	top: 7px;
	left: 0;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #808080;
	border-radius: 50%;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.checkbox i {
	border-radius: 3px;
}
.radio input:checked + i:after,
.checkbox input:checked + i:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 50%;
	background: #0d6e1a;
}
.checkbox input:checked + i:after {
	content: '\2713';
	width: 14px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: none;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #0d6e1a;
}
.rating {
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.rating input {
	position: absolute;
	left: -9999px;
}
.rating label {
	display: block;
	float: right;
	height: 18px;
	margin-top: 8px;
	padding: 0 1px;
	font-size: 18px;
	line-height: 18px;
	color: #939393;
	cursor: pointer;
}
.rating input + label:hover,
.rating input + label:hover ~ label,
.rating input:checked ~ label {
	color: #c40303;
}
.button {
	float: right;
	height: 48px;
	padding: 0 36px;
	border-radius: 4px;
	background: #c40303;
	font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', 'Helvetica Neue', 'Helvetica', 'Arial Narrow', Arial, sans-serif;
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	font-stretch: condensed;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.button:hover {
	background: #000;
	text-decoration: none;
}
.button-small {
	height: 36px;
	padding: 0 24px;
	line-height: 36px;
}
.button-secondary {
	background: #d6d6d6;
	color: #292929;
}
.button-secondary:hover {
	background: #b5b5b5;
}
.label {
	display: block;
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.label span {
	color: #f00000;
}

.form .intro {
	margin-bottom: 18px;
	font-size: 15px;
	line-height: 18px;
}
.form .input,
.form .select,
.form .textarea,
.form .section {
	margin-bottom: 18px;	
}
.form .radio,
.form .checkbox {
	float: left;
	margin: 0 36px 0 0;
}


/**/
/* pics */
/**/
.pic {
	display: block;
	font-size: 0;
	text-align: center;
}
.pic img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}


/**/
/* colors */
/**/
.color-white {
	background: #fff;
	color: #fff;
}
.color-red {
	background: red;
	color: red;
}
.color-orange {
	background: #f95900;
	color: #f95900;
}
.color-yellow {
	background: #f9d300;
	color: #f9d300;
}
.color-green {
	background: #446816;
	color: #446816;
}
.color-cyan {
	background: #c5e2ed;
	color: #c5e2ed;
}
.color-blue {
	background: #7f9db0;
	color: #7f9db0;
}
.color-purple {
	background: #9256bc;
	color: #9256bc;
}
.color-pink {
	background: #e651ba;
	color: #e651ba;
}
.color-black {
	background: #000;
	color: #000;
}



/*----------------------------------------------------------------------------*/
/*                                   LAYOUT                                   */
/*----------------------------------------------------------------------------*/

.body {
	width: 100%;
	overflow-x: hidden;	
}
.page {
	width: 990px;
	margin: 0 auto;
}
.stiches {
	width: 990px;
	margin: 0 auto;
	padding: 0 54px;
	border: 1px dashed #bfbfbf;
	border-top: 0;
	border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 1100px) {
	.stiches {
		padding-right: 0;
		padding-left: 0;
		border: 0;
		border-bottom: 1px dashed #bfbfbf;
		border-radius: 0;
	}
}
.page-header-top {
	position: relative;
	height: 54px;
	z-index:1000;
}
.page-header-middle {
	position: relative;
	height: 54px;
	border-radius: 4px;
	background: #262626;
}
.page-header-bottom hr {
	margin: 22px 0;
	height: 8px;
	border: 0;
	border-top: 1px dashed #bfbfbf;
	border-bottom: 1px dashed #bfbfbf;
	outline: none;	
}
.page-footer {
	width: 990px;
	margin: 0 auto;
	padding-bottom: 24px;
	font-size: 0;
}
.page-footer .col {
	display: inline-block;
	width: 234px;
	margin-left: 18px;
	vertical-align: top;
}
.page-footer .col:first-child {
	margin-left: 0;
}



/*----------------------------------------------------------------------------*/
/*                                  PLUGINS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* slider */
/**/
.ui-slider {
	position: relative;
	border-radius: 4px;
	background: #e1e1e1;
}
.ui-slider-range {
	position: relative;
	height: 8px;
	border-radius: 4px;
	background: #76a92f;
}
.ui-slider-handle {
	position: absolute;
	top: 0;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -8px;
	border: 4px solid #558414;
	border-radius: 50%;
	background: #fff;
}
.ui-slider-handle span {
	position: absolute;
	bottom: 100%;
	left: 50%;
	display: none;
	width: 42px;
	margin: 0 0 11px -21px;
	border-radius: 4px;
	background: #fff;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	color: #000;
}
.ui-slider-handle span:after {
.ui-slider-handle span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.ui-slider-handle:active span {
	display: block;
}


/**/
/* isotope */
/**/
.isotope-item {
  z-index: 2;
}
.isotope-item.isotope-hidden {
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
	transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
}
.isotope {
	transition-property: height, width;
	-o-transition-property: height, width;
	-ms-transition-property: height, width;
	-moz-transition-property: height, width;
  -webkit-transition-property: height, width;
}
.isotope .isotope-item {
	transition-property: transform, opacity;
	-o-transition-property: -o-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;          
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	transition-duration: 0s;
	-o-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
}



/*----------------------------------------------------------------------------*/
/*                                   HEADER                                   */
/*----------------------------------------------------------------------------*/

/**/
/* cart summary */
/**/
.cart-summary {
	position: relative;
	z-index: 12;
	float: right;
	margin: 18px 0 0 36px;
}
.cart-summary dt {
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
}
.cart-summary dt a {
	font-weight: 400;
	text-decoration: underline;
}
.cart-summary dt a:hover {
	text-decoration: none;
}
.cart-summary dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	text-align: center;
	color: #262626;
}
.cart-summary li {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	line-height: 18px;
	text-align: left;
	color: #3d3d3d;
}
.cart-summary h3 {
	margin-bottom: 9px;
	font-size: 13px;
}
.cart-summary p {
	font-size: 12px;
}
.cart-summary p i {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 12px;
	height: 5px;
	margin: 0 5px 0 6px;
}
.cart-summary p i:after {
	content: ' ';
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 14px;
	height: 7px;
	border: 1px solid #a6a6a6;
}
.cart-summary p span {
	font-weight: 700;
}
.cart-summary .pic {
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 18px;
	line-height: 108px;
}
.cart-summary .icon-remove {
	display: block;
	float: right;
	margin-left: 6px;
	font-size: 16px;
	line-height: 18px;
	color: #c40303;
}
.cart-summary .icon-remove:hover {
	text-decoration: none;
	color: #000;
}
.cart-summary .price {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: 700;	
}
.cart-summary .button {
	width: 200px;
	padding: 0;
}
.cart-summary .button-secondary {
	float: left;
	width: 108px;
}
.cart-summary .empty {
	display: none;
	margin: 0 -18px;
	padding: 24px 0 6px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	color: #c40303;
}
.cart-summary .total {
	margin: 0 -18px 18px;
	padding: 18px 0 18px 144px;
	border-top: 1px dashed #bfbfbf;
	border-bottom: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: left;
}


/**/
/* wish list summary */
/**/
.wish-list-summary {
	position: relative;
	z-index: 11;
	float: right;
	margin: 18px 0 0 72px;
}
.wish-list-summary dt {
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
}
.wish-list-summary dt a {
	font-weight: 400;
	text-decoration: underline;
}
.wish-list-summary dt a:hover {
	text-decoration: none;
}
.wish-list-summary dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	text-align: center;
	color: #262626;
}
.wish-list-summary li {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	line-height: 18px;
	text-align: left;
	color: #3d3d3d;
}
.wish-list-summary h3 {
	margin-bottom: 9px;
	font-size: 13px;
}
.wish-list-summary p {
	font-size: 12px;
}
.wish-list-summary p i {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 12px;
	height: 5px;
	margin: 0 5px 0 6px;
}
.wish-list-summary p i:after {
	content: ' ';
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 14px;
	height: 7px;
	border: 1px solid #a6a6a6;
}
.newserv {
	position: relative;
	margin-left: 50%;
}
.wish-list-summary p span {
	font-weight: 700;
}
.wish-list-summary .pic {
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 18px;
	line-height: 108px;
}
.wish-list-summary .icon-remove,
.wish-list-summary .icon-share-alt {
	display: block;
	float: right;
	height: 18px;
	margin-left: 9px;
	font-size: 16px;
	line-height: 18px;
	color: #c40303;
}
.wish-list-summary .icon-share-alt {
	font-size: 12px;
	line-height: 20px;
}
.wish-list-summary .icon-remove:hover,
.wish-list-summary .icon-share-alt:hover {
	text-decoration: none;
	color: #000;
}
.wish-list-summary .price {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: 700;	
}
.wish-list-summary .empty {
	display: none;
	margin: 0 -18px;
	padding: 24px 0 6px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	color: #c40303;
}
.wish-list-summary .share {
	margin: 18px -18px 0;
	padding: 24px 18px 6px 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: left;
}
.wish-list-summary .share a {
	display: block;
	float: right;
	margin-left: 8px;
	font-size: 17px;
	line-height: 18px;
}
.wish-list-summary .share a:hover {
	text-decoration: none;
}
.wish-list-summary .share a:hover .icon-facebook-sign {
	color: #0e498c;
}
.wish-list-summary .share a:hover .icon-twitter {
	color: #0d9edb;
}
.wish-list-summary .share a:hover .icon-google-plus-sign {
	color: #c03818;
}
.wish-list-summary .share a:hover .icon-pinterest {
	color: #cc0505;
}


/**/
/* login popup */
/**/
.login-popup {
	position: relative;
	z-index: 10;
	float: right;
	margin: 18px 0 0 36px;	
}
.login-popup dt {
	padding-left: 6px;
	font-size: 11px;
	line-height: 18px;
	text-decoration: underline;
	cursor: pointer;
}
.login-popup dt:hover {
	text-decoration: none;
}
.login-popup dt i {
	position: absolute;
	top: 1px;
	right: 100%;
	font-size: 16px;
}
.login-popup dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	color: #262626;
}
.login-popup dd .intro {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 13px;
	line-height: 18px;
}
.login-popup dd .button-twitter,
.login-popup dd .button-facebook {
	float: none;
	height: 42px;
	margin-bottom: 18px;
	padding-left: 42px;	
	line-height: 42px;
}
.login-popup dd .button-twitter {
	background: #0d9edb;
}
.login-popup dd .button-facebook {
	background: #3b5998;
}
.login-popup dd .button-twitter:hover {
	background: #0a79a8;
}
.login-popup dd .button-facebook:hover {
	background: #283b66;
}
.login-popup dd .button-twitter i,
.login-popup dd .button-facebook i {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	border-right: 1px solid rgba(0,0,0,.1);
	font-size: 22px;
	line-height: 44px;
	text-align: center;
	color: #fff;
}
.login-popup dd .or {
	position: relative;
	margin: 30px -18px;
	border-top: 1px dashed #bfbfbf;	
}
.login-popup dd .or:after {
	content: 'OR';
	position: absolute;
	top: 0;
	left: 50%;
	width: 48px;
	height: 18px;
	margin: -10px 0 0 -24px;
	background: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	color: #000;
}
.login-popup dd .forgot {
	float: left;
	margin-top: 4px;
	font-size: 11px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
}
.login-popup dd .forgot a {
	text-decoration: underline;
	color: #5e5e5e;
}
.login-popup dd .forgot a:hover {
	text-decoration: none;
}


/**/
/* help */
/**/
.help {
	position: absolute;
	z-index: 11;
	top: 18px;
	left: 0;
}
.help dt {
	position: relative;
	z-index: 12;
	padding: 0 11px 0 22px;
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.help dt:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 8px;
	display: block;
	border-top: 3px solid #bfbfbf;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.help dt:before {
	content: '?';
	position: absolute;
	top: 1px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #262626;
	font-size: 10px;
	line-height: 16px;
	font-weight: 400;
	text-align: center;
	color: #fff;
}
.help dt:hover {
	text-decoration: underline;
}
.help dd {
	position: absolute;
	z-index: 11;
	top: -9px;
	left: -18px;
	display: none;
	width: 260px;
	padding-top: 36px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	color: #262626;
}
.help ul {
	padding: 13px 18px;
	border-top: 1px dashed #bfbfbf;
}
.help li {	
	padding: 5px 0;
	font-size: 11px;
	line-height: 15px;
}
.help li:first-child {
	margin-bottom: 6px;
	font-weight: 700;
	text-transform: uppercase;
}
.help .phone {
	position: relative;
	padding: 11px 0 11px 62px;
	border-top: 1px dashed #bfbfbf;
}
.help .phone p {
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
}
.help .phone p:first-child {
	margin-bottom: 2px;
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
}
.help .phone i {
	position: absolute;
	top: 0;
	left: 0;
	width: 62px;
	height: 60px;
	font-size: 28px;
	line-height: 58px;
	text-align: center;	
}
.help .finder {
	padding: 20px 0 20px 66px;
	border-top: 1px dashed #bfbfbf;
	background: url(../img/help/finder.png) 18px 50% no-repeat;
	font-size: 18px;
	line-height: 18px;
}


/**/
/* logo */
/**/
.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 116px;
	border-right: 1px dashed #8c8c8c;
	font-size: 0;
	text-align: center;
}
.logo span {
	display: table-cell;
	width: 116px;
	height: 54px;	
	vertical-align: middle;
}
.logo img {
	position: relative;
	top: 2px;
}


/**/
/* products nav */
/**/
.products-nav {
	position: absolute;
	top: 50%;
	left: 127px;
	margin-top: -27px;
}
.products-nav .lv1 {
	display: block;
	float: left;
	font-size: 11px;
	line-height: 54px;
	font-weight: 700;
	text-transform: uppercase;
}
.products-nav .lv1 > a {
	display: block;
	padding: 0 24px;
	text-decoration: none;
	color: #fff;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.products-nav .lv1 > div {
	position: absolute;
	z-index: 10;
	top: 54px;
	left: -9999px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	opacity: 0;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.products-nav .lv1:hover > a {
	background: #fff;
	color: #262626;
}
.products-nav .lv1:hover > div {
	display: block;
	opacity: 1;
}
.products-nav .lv2 {
	margin: 24px 0 6px;
	padding: 6px 24px;
	line-height: 18px;
}
.products-nav .lv2:first-child {
	margin-top: 0;
}
.products-nav .lv2 a {
	color: #262626;
}
.products-nav .lv3 {
	padding: 6px 24px;
	line-height: 14px;
	font-weight: 400;
	text-transform: none;
}
.products-nav .lv3 a {
	color: #262626;
}
.products-nav .single-col {
	position: relative;
}
.products-nav .single-col ul {
	padding: 12px 0;
	border-top: 1px dashed #737373;
}
.products-nav .single-col ul:first-child {
	border-top: 0;
}
.products-nav .single-col div {
	min-width: 200px;
}
.products-nav .single-col:hover div {
	left: 0;	
}
.products-nav .double-col {
	position: relative;
}
.products-nav .double-col div {
	width: 318px;
}
.products-nav .double-col ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .double-col ul:first-child {
	margin-left: 0;
}
.products-nav .double-col:hover div {
	left: 0;
}
.products-nav .triple-col {
	position: relative;
}
.products-nav .triple-col div {
	width: 486px;
}
.products-nav .triple-col ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .triple-col ul:first-child {
	margin-left: 0;
}
.products-nav .triple-col:hover div {
	left: 0;
}
.products-nav .multi-col > div {
	width: 990px;
}
.products-nav .multi-col > div > ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .multi-col > div > ul:first-child {
	margin-left: 0;
}
.products-nav .multi-col:hover > div {
	left: -127px;	
}
.products-nav .popular-products {
	position: relative;
	float: right;
	width: 317px;
	overflow: hidden;
	margin-left: 1px;
	padding: 12px 0;
	border-left: 1px dashed #737373;
}
.products-nav .popular-products .next {
	position: absolute;
	top: 22px;
	right: 24px;
	overflow: hidden;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #404040;
	cursor: pointer;
}
.products-nav .popular-products .next:hover {
	border-left-color: #c40303;
}
.products-nav .popular-products .prev {
	position: absolute;
	top: 22px;
	right: 44px;
	border-top: 5px solid transparent;
	border-right: 10px solid #404040;
	border-bottom: 5px solid transparent;
	cursor: pointer;
}
.products-nav .popular-products .prev:hover {
	border-right-color: #c40303;
}
.products-nav .products-grid {
	position: relative;
	width: 234px;
	height: 312px;
	margin: 12px auto 0;
	line-height: normal;
	text-transform: none;
}
.products-nav .products-grid > li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	margin: 0;
	opacity: 0;
}
.products-nav .products-grid > .active {
	display: block;
	opacity: 1;
}


/**/
/* search */
/**/
.search .switcher {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 27px;
	height: 27px;
	overflow: hidden;
	margin-top: -13px;
	background: url(../img/search/switcher.png) no-repeat 0 0;
}
.search .switcher a {
	position: absolute;
	top: 0;
	display: block;
	width: 27px;
	height: 27px;
}
.search .switcher button {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 27px;
	height: 27px;	
}
.search .switcher .open {
	left: 0;
}
.search .switcher .close {
	right: 0;
}
.search .form {
	position: absolute;
	top: 50%;
	left: 127px;
	margin-top: -54px;
	display: none;
}
.search .keywords {
	float: left;
	width: 600px;
	height: 48px;
	padding: 30px 0px 30px 40px;
	background: url(../img/search/keywords.png) no-repeat 0 0;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #d9d6d6;
}
.search .filter {
	display: block;
	float: left;
	width: 56px;
	height: 48px;
	margin-top: 30px;
	border-left: 1px dashed #4d4d4d;
}
.search .filter dt {
	padding: 32px 0 3px;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.search .filter dt:hover {
	text-decoration: underline;
}
.search .filter dd {
	position: absolute;
	z-index: 1;
	top: 100%;
	display: none;
	margin-top: 1px;
	padding: 18px 12px;
	border-radius: 4px;
	background: rgba(38,38,38,.95);
	font-size: 0;
	white-space: nowrap;
}
.search .filter dd:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 50%;
	width: 26px;
	height: 1px;
	margin-left: -13px;
	background: rgba(38,38,38,.95);
}
.search .filter-alpha {
	border: none;
}
.search .filter-omega {
	margin-right: 10px;
}
.search .filter-color dt {
	background: url(../img/search/filter-color.png) no-repeat 50% 3px;
}
.search .filter-color dd {
	margin-left: -127px;
}
.search .filter-color dd:after {
	left: 142px;
	margin-left: 0;
}
.search .filter-color dd a {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 8px;
	margin: 0 8px;
}
.search .filter-color dd a:hover:after,
.search .filter-color dd a.active:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 18px;
	height: 10px;
	border: 1px solid #a6a6a6;
}
.search .filter-price {
	position: relative;
}
.search .filter-price dt {
	background: url(../img/search/filter-price.png) no-repeat 50% 4px;
}
.search .filter-price dd {
	left: 50%;
	width: 210px;
	padding: 18px 17px;
	margin: 31px 0 0 -119px;
}
.search .filter-price .slider {
	z-index: 2;
}
.search .filter-price .range {
	margin: 10px -6px -8px;
	font-size: 11px;
	line-height: 13px;
	color: #b1b1b1;
}
.search .filter-price .range span {
	float: right;
}


/**/
/* benefits */
/**/
.benefits {
	height: 36px;
	margin: 18px 0;
	color: #5e5e5e;
}
.benefits li {
	position: relative;
	display: block;
	float: left;
	margin-left: 66px;
	padding: 4px 0;
	font-size: 12px;
	line-height: 14px;
}
.benefits li:before {
	content: ' ';
	position: absolute;
	left: -38px;
	top: -5px;
	display: block;
	width: 8px;
	height: 46px;
	border-right: 1px dashed #bfbfbf;
	border-left: 1px dashed #bfbfbf;
}
.benefits li:first-child {
	margin-left: 0;
}
.benefits li:first-child:before {
	display: none;
}
.benefits .fs {
	padding-left: 36px;
	background: url(../img/benefits/fs.png) no-repeat 0 3px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
.benefits .fs span {
	color: #c40303;
}
.benefits .lp {
	padding-left: 36px;
	background: url(../img/benefits/lp.png) no-repeat 0 4px;	
}
.benefits .gc {
	padding-left: 35px;
	background: url(../img/benefits/gc.png) no-repeat 0 4px;	
}
.benefits .mb {
	padding-left: 37px;
	background: url(../img/benefits/mb.png) no-repeat 0 6px;	
}
.benefits a {
	text-decoration: none;
	color: #262626;
}
.benefits a:hover {
	text-decoration: underline;
}



/*----------------------------------------------------------------------------*/
/*                                  CONTENT                                   */
/*----------------------------------------------------------------------------*/

/**/
/* bread crumps */
/**/
.bread-crumps {
	padding-top: 1px;
	border-bottom: 1px dashed #bfbfbf;
	font-size: 0;
	color: #808080;
}
.bread-crumps li {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	font-size: 11px;
	line-height: 34px;
}
.bread-crumps li:before {
	content: '//';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	text-align: center;
}
.bread-crumps li:first-child {
	padding-left: 0;
}
.bread-crumps li:first-child:before {
	content: '';
}


/**/
/* page title */
/**/
.page-title {
	margin-bottom: 18px;
	padding-top: 1px;
	border-bottom: 1px dashed #bfbfbf;	
	font-size: 36px;
	line-height: 70px;
	font-weight: 700;
}


/**/
/* section title */
/**/
.section-title {
	padding-top: 1px;
	border-bottom: 1px dashed #bfbfbf;	
	font-size: 12px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
}


/**/
/* product dropdown */
/**/
.product-dropdown nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-radius: 5px 13px 5px 5px;
	background: #fff;
	background: rgba(255,255,255,0.95);
	text-align: left;
	white-space: nowrap;
	opacity: 0;
	transition: width 0.3s, height 0.3s, opacity 0.3s;
	-o-transition: width 0.3s, height 0.3s, opacity 0.3s;
	-ms-transition: width 0.3s, height 0.3s, opacity 0.3s;
	-moz-transition: width 0.3s, height 0.3s, opacity 0.3s;
	-webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.product-dropdown nav ul {
	padding-top: 26px;
}
.product-dropdown nav ul li {
	display: block;
	border-top: 1px dotted #bfbfbf;
	font-size: 10px;
	line-height: 48px;
	text-transform: uppercase;
}
.product-dropdown nav ul li:first-child {
	border-top: 0;
}
.product-dropdown nav ul li a {
	position: relative;
	display: block;
	padding-left: 54px;
}
.product-dropdown nav ul li a:hover {
	text-decoration: none;
	color: #c40303;
}
.product-dropdown nav ul li a:hover i {
	color: #262626;
}
.product-dropdown nav ul li i {
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	font-size: 17px;
	text-align: center;
}
.product-dropdown nav .share {
	padding: 20px;
	border-top: 1px dotted #bfbfbf;
	font-size: 11px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
.product-dropdown nav .share a {
	display: block;
	float: right;
	margin-left: 8px;
	font-size: 17px;
	line-height: 20px;
}
.product-dropdown nav .share a:hover {
	text-decoration: none;
}
.product-dropdown nav .share a:hover .icon-facebook-sign {
	color: #0e498c;
}
.product-dropdown nav .share a:hover .icon-twitter {
	color: #0d9edb;
}
.product-dropdown nav .share a:hover .icon-google-plus-sign {
	color: #c03818;
}
.product-dropdown nav .share a:hover .icon-pinterest {
	color: #cc0505;
}
.product-dropdown .switcher {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #daf1f8;
	box-shadow: inset 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	-o-transition: -o-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s, background 0.3s;
}
.product-dropdown .switcher:hover {
	background: #cbe1e8;
}
.product-dropdown .switcher:after,
.product-dropdown .switcher:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #3d565d;
}
.product-dropdown .switcher:after {
	width: 2px;
	height: 10px;
	margin: -5px 0 0 -1px;
}
.product-dropdown .switcher:before {
	width: 10px;
	height: 2px;
	margin: -1px 0 0 -5px;
}
.product-dropdown.active nav {
	width: 234px;
	height: 235px;
	opacity: 1;
}
.product-dropdown.active .switcher {
	background: #fff;
	box-shadow: none;
	-webkit-transform: rotate(135deg);
}
.product-dropdown.active .switcher:after,
.product-dropdown.active .switcher:before {
	background: #c40303;
}


/**/
/* products grid */
/**/
.products-grid {
	margin: 0 -9px;
	text-align: center;
}
.products-grid > li {
	position: relative;
	display: block;
	float: left;
	width: 234px;
	height: 306px;
	margin: 18px 9px;
}
.products-grid h2 {
	height: 18px;
	overflow: hidden;
	margin: 9px 0;
	font-size: 12px;
	line-height: 18px;
}
.products-grid .pic {
	position: relative;
	display: block;
	width: 234px;
	height: 234px;
	font-size: 0;
	text-align: center;
}
.products-grid .pic span {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 234px;
	height: 234px;
	font-size: 0;
	line-height: 234px;
	opacity: 0;
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-o-transition: opacity 0.6s, -o-transform 0.6s;
	-ms-transition: opacity 0.6s, -ms-transform 0.6s;
	-moz-transition: opacity 0.6s, -moz-transform 0.6s;
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
}
.products-grid .pic img {	
	vertical-align: middle;
}
.products-grid .pic .active {
	z-index: 1;
	opacity: 1;
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.products-grid .pic:hover .active {
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}
.products-grid .color {
	margin-top: 10px;
	font-size: 0;
}
.products-grid .color span {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 8px;
	margin: 0 3px;
	cursor: pointer;
}
.products-grid .color .active {
	cursor: default;
}
.products-grid .color .active:after {
	content: ' ';
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 18px;
	height: 10px;
	border: 1px solid #a6a6a6;
}
.products-grid .price {
	height: 18px;
	overflow: hidden;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #262626;
}
.products-grid .price .old {
	position: relative;
	top: -3px;
	font-size: 12px;
	font-weight: 400;
	text-decoration: line-through;
	color: #404040;
}
.products-grid .price .new {
	color: #e00000;
}
.products-grid .product-dropdown {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
}


/**/
/* show more */
/**/
.show-more {
	position: relative;
	margin: 18px 0 54px;
	height: 54px;
}
.show-more hr {
	position: absolute;
	top: 21px;
	left: 0;
	width: 100%;
	height: 8px;
	border: 0;
	border-top: 1px dashed #bfbfbf;
	border-bottom: 1px dashed #bfbfbf;
	outline: none;	
}
.show-more a {
	position: relative;
	display: block;
	width: 42px;
	height: 38px;
	margin: 1px auto;
	padding: 13px 5px 0;
	border-radius: 50%;
	background: #2b2b2b url(../img/show-more.png);
	font-size: 10px;
	line-height: 13px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
}
.show-more a:hover {
	background-color: #c40303;
}
.show-more a:before {
	content: 'show more';
}
.show-more .disabled,
.show-more .disabled:hover {
	background-color: #ccc;
	text-shadow: 0 1px rgba(255,255,255,0.75);
	color: #9b9b9b;
	cursor: default;
}
.show-more .disabled:before {
	content: 'no more';
}



/*----------------------------------------------------------------------------*/
/*                                 INDEX PAGE                                 */
/*----------------------------------------------------------------------------*/

/**/
/* slideshow */
/**/
.slideshow {
	position: relative;
	width: 100%;
	height: 504px;
	overflow: hidden;
}
.slideshow img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
	border-radius: 4px;
}
.slideshow .nivo-main-image {
	position: relative !important;
	display: block !important;
	width: 100% !important;
	border-radius: 4px;
}
.slideshow a.nivo-imageLink {
	position: absolute;
	z-index: 6;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
.slideshow .nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.slideshow .nivo-box {
	position: absolute;
	z-index: 5;
	display: block;
	overflow: hidden;
}
.slideshow .nivo-box img {
	display: block;
}
.nivo-controlNav {
	position: relative;
	z-index: 7;
	height: 44px;
	margin-top: -64px;
	padding-bottom: 20px;
	font-size: 0;
	text-align: center;
}
.nivo-controlNav a {
	display: inline-block;
	width: 64px;
	height: 44px;
	overflow: hidden;
	margin: 0 6px;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
}
.nivo-controlNav img {
	border-radius: 2px;	
}
.nivo-controlNav .active {
	background: #fff;
}


/**/
/* products showcase */
/**/
.products-showcase {
	position: relative;
	height: 396px;
}
.products-showcase > li {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 336px;
	opacity: 0;
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-o-transition: opacity .6s, -o-transform .6s;
	-ms-transition: opacity .6s, -ms-transform .6s;
	-moz-transition: opacity .6s, -moz-transform .6s;
	-webkit-transition: opacity .6s, -webkit-transform .6s;
}
.products-showcase .active {
	z-index: 4;
	opacity: 1;
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.products-showcase ol {
	position: relative;
	z-index: 1;
	display: block;
	width: 654px;
	height: 396px;	
}
.products-showcase ol > li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 654px;
	height: 396px;
	opacity: 0;
}
.products-showcase ol > li:first-child {
	display: block;
	opacity: 1;
}
.products-showcase h2 {
	margin-bottom: 18px;
	padding-top: 108px;
	font-size: 16px;
	line-height: 18px;
}
.products-showcase .pic {
	display: block;
	float: left;
	width: 396px;
	height: 396px;
	margin-right: 18px;
}
.products-showcase .pic span {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 396px;
	height: 396px;
	font-size: 0;
	line-height: 396px;
	opacity: 0;
	-o-transform: scale(0.2,0.2);
	-ms-transform: scale(0.2,0.2);
	-moz-transform: scale(0.2,0.2);
	-webkit-transform: scale(0.2,0.2);
	-o-transition: opacity 0.5s, -o-transform 0.5s;
	-ms-transition: opacity 0.5s, -ms-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
}
.products-showcase .pic .active {
	z-index: 1;
	opacity: 1;
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
.products-showcase .color {
	margin-bottom: 54px;
	font-size: 0;
}
.products-showcase .color span {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 8px;
	margin: 0 3px;
	cursor: pointer;
}
.products-showcase .color .active {
	cursor: default;
}
.products-showcase .color .active:after {
	content: ' ';
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 18px;
	height: 10px;
	border: 1px solid #a6a6a6;
}
.products-showcase .price {
	margin-bottom: 36px;
	font: 700 48px/54px 'Old Standard TT', serif;
	color: #292929;
}
.products-showcase .button {
	float: left;
}
.products-showcase .product-dropdown {
	position: relative;
	z-index: 4;
	float: left;
	width: 26px;
	height: 26px;
	margin: 5px 10px;
}
.products-showcase .product-dropdown nav {
	z-index: 3;
}
.products-showcase .product-dropdown .switcher {
	z-index: 4;
}
.products-showcase .prev {
	position: absolute;
	top: 70px;
	left: 414px;
	display: block;
	border-top: 6px solid transparent;
	border-right: 12px solid #404040;
	border-bottom: 6px solid transparent;
	cursor: pointer;
}
.products-showcase .prev:hover {
	border-right-color: #c40303;
}
.products-showcase .next {
	position: absolute;
	top: 70px;
	left: 436px;
	display: block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #404040;
	cursor: pointer;
}
.products-showcase .next:hover {
	border-left-color: #c40303;
}
.products-showcase .bg {
	position: absolute;
	top: 18px;
	left: 0;
}


/**/
/* featured products */
/**/
.featured-products header {
	height: 36px;
	margin-bottom: 18px;
}
.featured-products header a {
	position: relative;
	display: block;
	float: left;
	height: 32px;
	margin: 0 15px;
	font-size: 12px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}
.featured-products header a:hover {
	text-decoration: none;
	color: #1d1d1d;
}
.featured-products header a:before {
	content: '//';
	position: absolute;
	top: 0;
	left: -19px;
	font-weight: 100;
}
.featured-products header a:after {
	content: '//';
	position: absolute;
	top: 0;
	right: -19px;
	font-weight: 100;
}
.featured-products header a:first-child:before {
	display: none;
}
.featured-products header .omega:after {
	display: none;
}
.featured-products header .active {
	z-index: 1;
	margin: 0 -4px;
	padding: 0 15px;
	border-radius: 4px;
	background: #c60e0e;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
	color: #fff;
	cursor: default;
}
.featured-products header .active:hover {
	color: #fff;
}
.featured-products header .active:before {
	display: none;
}
.featured-products header .active:after {
	content: ' ';
	position: absolute;
	top: 32px;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -4px;
	border-top: 4px solid #c60e0e;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.featured-products header .active:first-child {
	margin-left: 0;
}
.featured-products .products-grid {
	margin-top: 36px;
}
.featured-products .show-more {
	margin-top: 0;
}


/**/
/* publications */
/**/
.publications header {
	height: 36px;
	margin-bottom: 18px;
}
.publications header span {
	display: block;
	float: left;
	height: 32px;
	margin-right: 18px;
	font-size: 13px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
.publications header a {
	position: relative;
	display: block;
	float: left;
	height: 32px;
	margin: 0 15px;
	font-size: 12px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}
.publications header a:hover {
	text-decoration: none;
	color: #1d1d1d;
}
.publications header a:before {
	content: '//';
	position: absolute;
	top: 0;
	left: -19px;
	font-weight: 100;
}
.publications header a:after {
	content: '//';
	position: absolute;
	top: 0;
	right: -19px;
	font-weight: 100;
}
.publications header .alpha:before {
	display: none;
}
.publications header .omega:after {
	display: none;
}
.publications header .active {
	z-index: 1;
	margin: 0 -4px;
	padding: 0 15px;
	border-radius: 4px;
	background: #c60e0e;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
	color: #fff;
	cursor: default;
}
.publications header .active:hover {
	color: #fff;
}
.publications header .active:before {
	display: none;
}
.publications header .active:after {
	content: ' ';
	position: absolute;
	top: 32px;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -4px;
	border-top: 4px solid #c60e0e;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.publications header .active.alpha {
	margin-left: 0;
}
.publications header .active.omega {
	margin-right: 0;
}
.publications > ul {
	margin: -9px;
}
.publications ul li {
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	margin: 9px;
}
.publications ul li i {
	display: block;
	float: right;
	width: 34px;
	font-size: 18px;
	text-align: center;
	color: #444;
}
.publications ul li .sort {
	display: none;
}
.publications ul .nw {
	width: 486px;
	height: 198px;
	border-radius: 4px;
	background: #fff;
}
.publications ul .nw dl {
	height: 126px;
	overflow: hidden;
	padding: 18px 18px 18px 0;
	line-height: 18px;
}
.publications ul .nw dt {
	margin-bottom: 18px;
	font-size: 14px;
	font-weight: 700;
}
.publications ul .nw dd {
	font-size: 12px;
}
.publications ul .nw div {
	padding: 0 2px 0 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 11px;
	line-height: 34px;
	color: #999;
}
.publications ul .nw a {
	color: #404040;
}
.publications ul .nw .pic {
	display: block;
	float: left;
	width: 150px;
	height: 126px;
	overflow: hidden;
	margin: 18px;
	border-radius: 2px;
	opacity: 0.9;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.publications ul .nw .pic:hover {
	opacity: 1;
}
.publications ul .cl {
	font-size: 0;
}
.publications ul .cl img {
	border-radius: 4px;
	opacity: 0.9;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.publications ul .cl:hover img {
	opacity: 1;
}
.publications ul .fb {
	width: 486px;
	height: 198px;
	border-radius: 4px;
	background: #fff;
}
.publications ul .fb dl {
	height: 126px;
	overflow: hidden;
	padding: 18px 18px 18px 0;
	line-height: 18px;
}
.publications ul .fb dt {
	margin-bottom: 18px;
	font-size: 14px;
	font-weight: 700;
}
.publications ul .fb div {
	padding: 0 2px 0 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 11px;
	line-height: 34px;
	color: #999;
}
.publications ul .fb dd {
	font-size: 12px;
}
.publications ul .fb a {
	color: #404040;
}
.publications ul .fb .pic {
	display: block;
	float: left;
	width: 150px;
	height: 126px;
	overflow: hidden;
	margin: 18px;
	border-radius: 2px;
	opacity: 0.9;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.publications ul .fb .pic:hover {
	opacity: 1;
}
.publications ul .tw {
	width: 234px;
	height: 198px;
	border-radius: 4px;
	background: #00aced;
	color: #fff;
}
.publications ul .tw dl {
	height: 126px;
	overflow: hidden;
	padding: 18px;
	line-height: 18px;
	font-style: italic;
}
.publications ul .tw dt {
	margin-bottom: 18px;
	font-size: 14px;
	font-weight: 700;
}
.publications ul .tw dd {
	font-size: 12px;
}
.publications ul .tw div {
	padding: 0 2px 0 18px;
	border-top: 1px dashed #fff;
	font-size: 11px;
	line-height: 34px;
}
.publications ul .tw a {
	text-decoration: underline;
	color: #fff;
}
.publications ul .tw i {
	color: #fff;
}
.publications ul .tw a:hover {
	text-decoration: none;
}
.publications ul .yt {
	position: relative;
	width: 234px;
	height: 198px;
}
.publications ul .yt a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.publications ul .yt i {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	border-radius: 4px 0 4px 0;
	background: #fff;
	line-height: 36px;
}
.publications ul .yt img {
	width: 234px;
	height: 198px;
	overflow: hidden;
	border-radius: 4px 4px 6px 4px;
	opacity: 0.9;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.publications ul .yt:hover img {
	opacity: 1;
}
.publications ul .yt .icon-play {
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -30px 0 0 -30px;
	border: 5px solid #fff;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	font-size: 24px;
	line-height: 50px;
	text-indent: 6px;
	color: #fff;
}
.publications ul .st {
	width: 486px;
	height: 198px;
	border-radius: 4px;
	background: #2a2a2a url(../img/subscription/bg.png) 0 -4px no-repeat;
}
.publications ul .st form {
	position: absolute;
	top: 40px;
	right: 24px;
	left: 150px;
	padding-left: 24px;
	border-left: 1px dashed #878787;
}
.publications ul .st .label {
	margin-bottom: 10px;
	line-height: 12px;
	color: #aaa;
}
.publications ul .st .input {
	margin-right: 78px;
}
.publications ul .st .unsubscribe {
	margin-top: -18px;
	font-size: 11px;
	line-height: 36px;
	text-align: right;
}
.publications ul .st .unsubscribe a {
	text-decoration: underline;
	color: #aaa;
}
.publications ul .st .follow {
	font-size: 11px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #aaa;
}
.publications ul .st .follow a {
	display: block;
	float: right;
	margin-left: 12px;
	font-size: 17px;
	line-height: 20px;
	color: #aaa;
}
.publications ul .st .follow a:hover {
	text-decoration: none;
}
.publications ul .st .follow a:first-child {
	margin-right: 78px;
}
.publications ul .st .follow i {
	width: auto;
	line-height: 22px;
	color: #aaa;
}
.publications ul .st .follow a:hover .icon-facebook-sign {
	color: #0e498c;
}
.publications ul .st .follow a:hover .icon-twitter {
	color: #0d9edb;
}
.publications ul .st .follow a:hover .icon-google-plus-sign {
	color: #c03818;
}
.publications ul .st .follow a:hover .icon-pinterest {
	color: #cc0505;
}



/*----------------------------------------------------------------------------*/
/*                                CATALOG PAGE                                */
/*----------------------------------------------------------------------------*/

/**/
/* products filter */
/**/
.products-filter {
	height: 32px;
	margin: -70px 0 38px;
}
.products-filter dl {
	position: relative;
	float: right;
	margin-left: 6px;
}
.products-filter dt {
	height: 30px;
	padding: 0 15px 0 40px;
	border: 1px solid #bbb;
	border-radius: 4px;
	background-repeat: no-repeat;
	font-size: 11px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.products-filter dt:hover {
	background-color: #fff;
}
.products-filter dd {
	position: absolute;
	z-index: 3;
	top: 100%;
	right: 0;
	margin-top: 2px;	
	border: 1px solid #bbb;
	border-radius: 4px;
	background: #fff;
	display: none;
}
.products-filter .price dt {
	background-image: url(../img/catalog/filter-price.png);
	background-position: 12px 50%;
}
.products-filter .price dd {
	width: 200px;
	padding: 31px 20px 19px;
}
.products-filter .price .ui-slider-handle span {
	background: #282828;
	color: #fff;
}
.products-filter .price .ui-slider-handle span:after {
	border-top-color: #282828;
}
.products-filter .price .range {
	margin: 10px -6px -8px;
	font-size: 11px;
	line-height: 13px;
}
.products-filter .price .range span {
	float: right;
}

.products-filter .color dt {
	background-image: url(../img/catalog/filter-color.png);
	background-position: 11px 50%;
}
.products-filter .color em {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 18px;
	height: 10px;
	margin: 0 5px;
	border: 1px solid #dcdcdc;
	box-shadow: inset 0 0 0 1px #fff;	
}
.products-filter .color dd {
	height: 11px;
	padding: 31px 10px;
	font-size: 0;
	text-align: center;
	white-space: nowrap;
}
.products-filter .color input {
	position: absolute;
	left: -9999px;
}
.products-filter .color label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 9px;
	margin: 0 5px;
	border: 1px solid #dcdcdc;
	box-shadow: inset 0 0 0 1px #fff;
	cursor: pointer;
}
.products-filter .color span {
	position: absolute;
	left: -9999px;
}
.products-filter .color input:checked + label {
	border-color: #000;
}
.products-filter .color .selected {
	padding: 0 10px;
	background-image: none;
}
.products-filter .size dt {
	background-image: url(../img/catalog/filter-size.png);
	background-position: 10px 50%;
}
.products-filter .size dd {
	height: 33px;
	padding: 20px 10px;
	font-size: 0;
	text-align: center;
	white-space: nowrap;
}
.products-filter .size input {
	position: absolute;
	left: -9999px;
}
.products-filter .size label {
	display: inline-block;
	width: 31px;
	height: 31px;
	margin: 0 5px;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	font-size: 11px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.products-filter .size label:hover {
	border-color: #000;
}
.products-filter .size input:checked + label {
	border-color: #000;
	background: #000;
	color: #fff;
}


/*----------------------------------------------------------------------------*/
/*                                PRODUCT PAGE                                */
/*----------------------------------------------------------------------------*/

/**/
/* product info */
/**/
.product {
	position: relative;
	min-height: 486px;
	margin: 18px 0 54px;
	transition: min-height 0.3s;
	-o-transition: min-height 0.3s;
	-ms-transition: min-height 0.3s;
	-moz-transition: min-height 0.3s;
	-webkit-transition: min-height 0.3s;
}
.product .info {
	float: right;
	width: 402px;
	opacity: 1;
	transition: opacity 0.3s, margin 0.3s;
	-o-transition: opacity 0.3s, margin 0.3s;
	-ms-transition: opacity 0.3s, margin 0.3s;
	-moz-transition: opacity 0.3s, margin 0.3s;
	-webkit-transition: opacity 0.3s, margin 0.3s;
}
.product .info h1 {
	margin: 0 -2px;
	font: 700 36px/54px 'Old Standard TT', serif;
	color: #292929;
}
.product .info .articul {
	margin-bottom: 18px;
	font-size: 12px;
	line-height: 18px;
	color: #a5a5a5;
}


/**/
/* product actions */
/**/
.product .actions {
	position: relative;
	margin-top: 18px;
}
.product .actions .clearfix {
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #d2d2d2;	
}
.product .actions .qty {
	float: right;
	width: 58px;
}
.product .actions .size,
.product .actions .color {
	float: left;
	width: 154px;
	margin-right: 18px;
}
.product .actions .size .label a {
	display: block;
	float: right;
	padding-left: 20px;
	background: url(../img/product/size-charts-icon.png) 0 50% no-repeat;
	font-weight: 400;
	text-transform: none;
	color: #848484;
}
.product .actions .size-charts {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	display: none;
	padding: 9px 9px 36px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	font-size: 12px;
	line-height: 18px;
}
.product .actions .size-charts i {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;	
}
.product .actions .size-charts table {
	margin-bottom: 36px;
}
.product .actions .size-charts th {
	padding: 6px 12px;
	text-align: center;
}
.product .actions .size-charts td {
	padding: 6px 18px;
	white-space: nowrap;
}
.product .actions .size-charts td:first-child {
	font-weight: 700;
}
.product .actions .size-charts dl {
	padding-left: 18px;
}
.product .actions .size-charts dt {
	margin: 18px 0 6px;
	font-weight: 13px;
	font-weight: 700;
}
.product .actions .size-charts img {
	float: right;
	margin: 0 18px 0 18px;
}
.product .actions .size-charts .label {
	margin-bottom: 18px;
	padding-left: 18px;
}
.product .actions .button {
	padding: 0 24px;
}
.product .actions .add-to-wl {
	display: block;
	float: right;
	margin-top: 15px;
	font-size: 11px;
	line-height: 18px;
	margin-left: 18px;
	text-decoration: none;
}
.product .actions .add-to-wl span {
	text-decoration: underline;
}
.product .actions .add-to-wl:hover span {
	text-decoration: none;
}
.product .actions .price {
	height: 48px;
	font: 700 48px/50px 'Old Standard TT', serif;
	letter-spacing: -1px;
	color: #292929;
}


/**/
/* product share */
/**/
.product .share {
	margin-top: 30px;
	height: 20px;
	font-size: 11px;
	line-height: 20px;
}
.product .share a {
	display: block;
	float: left;
	margin-right: 8px;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
}
.product .share span {
	display: block;
	float: left;
	margin-right: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
.product .share a:hover .icon-facebook-sign {
	color: #0e498c;
}
.product .share a:hover .icon-twitter {
	color: #0d9edb;
}
.product .share a:hover .icon-google-plus-sign {
	color: #c03818;
}
.product .share a:hover .icon-pinterest {
	color: #cc0505;
}


/**/
/* product tabs */
/**/
.product .tabs {
	height: 35px;
	margin-top: 54px;
	border-bottom: 1px solid #d2d2d2;
	font-size: 10px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
	color: #848484;
}
.product .tabs li {
	display: block;
	float: left;
	height: 34px;
	padding: 0 24px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
.product .tabs li:hover {
	color: #3d3d3d;	
}
.product .tabs .active {
	border-color: #d2d2d2;
	border-bottom-color: #f2f2f2;
	color: #3d3d3d;
	cursor: default;
}
.product .tabs-content > li {
	display: none;
}
.product .tabs-content > .active {
	display: block;
}


/**/
/* product summary */
/**/
.product .summary {
	font-size: 13px;
	line-height: 18px;
}
.product .summary p {
	margin-top: 18px;
}


/**/
/* product reviews */
/**/
.product .reviews {
	font-size: 13px;
	line-height: 18px;
}
.product .reviews li {
	margin-top: 18px;
	padding-top: 18px;
	border-top: 1px solid #dbdbdb;
}
.product .reviews li:first-child {
	padding-top: 0;
	border-top: 0;
}
.product .reviews strong {
	font-style: italic;
	color: #a1a1a1;
}
.product .reviews .quality {
	margin-top: 6px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.product .reviews .quality i {
	font-size: 13px;
	color: #939393;
}
.product .reviews .quality .filled {
	color: #c40303;
}
.product .add-review {
	margin-top: 18px;
	padding-top: 18px;
	border-top: 1px solid #dbdbdb;
}
.product .add-review .input,
.product .add-review .textarea {
	margin-bottom: 18px;
}
.product .add-review .rating {
	width: 160px;
}
.product .add-review .button {
	margin-top: -36px;
}


/**/
/* product care guide */
/**/
.product .care-guide {
	margin-top: 18px;
	font-size: 13px;
	line-height: 18px;
}
.product .care-guide ul {
	margin: 0 -4px;
}
.product .care-guide li {
	position: relative;
	display: block;
	float: left;
	width: 46px;
	height: 46px;
	margin: 18px 18px 0;
	text-align: center;
}
.product .care-guide span {
	display: table-cell;
	width: 46px;
	height: 46px;
	vertical-align: middle;
}
.product .care-guide img {
	display: block;
	margin: 0 auto;
}
.product .care-guide b {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: -9999px;
	width: 180px;
	margin: 0 0 15px -90px;
	border-radius: 4px;
	background: #282828;
	font-size: 11px;
	line-height: 54px;
	font-weight: 400;
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s, margin 0.3s;
	-o-transition: opacity 0.3s, margin 0.3s;
	-ms-transition: opacity 0.3s, margin 0.3s;
	-moz-transition: opacity 0.3s, margin 0.3s;
	-webkit-transition: opacity 0.3s, margin 0.3s;
}
.product .care-guide b:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-top: 5px solid #282828;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.product .care-guide li:hover b {
	left: 50%;
	margin-bottom: 5px;
	opacity: 1;
}


/**/
/* product thumbs */
/**/
.product .thumbs {
	float: left;
	width: 66px;
	margin-right: 18px;
}
.product .thumbs li {
	display: block;
	margin-top: 18px;
}
.product .thumbs li:first-child {
	margin-top: 0;
}
.product .thumbs .pic {
	width: 64px;
	height: 64px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.product .thumbs .pic span {
	display: table-cell;
	width: 64px;
	height: 64px;
	vertical-align: middle;
}
.product .thumbs .pic img {
	max-width: 54px;
	max-height: 54px;
}
.product .thumbs .active .pic {
	border-color: #858585;
}


/**/
/* product pics */
/**/
.product .pics {
	position: absolute;
	top: 0;
	left: 84px;
	width: 486px;
	height: 486px;
	overflow: hidden;
	cursor: pointer;
	cursor: -webkit-zoom-in;
	transition: width 0.3s, height 0.3s;
	-o-transition: width 0.3s, height 0.3s;
	-ms-transition: width 0.3s, height 0.3s;
	-moz-transition: width 0.3s, height 0.3s;
	-webkit-transition: width 0.3s, height 0.3s;
}
.product .pics li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%;
	opacity: 0;
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-o-transition: opacity 0.6s, -o-transform 0.6s;
	-ms-transition: opacity 0.6s, -ms-transform 0.6s;
	-moz-transition: opacity 0.6s, -moz-transform 0.6s;
	-webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
}
.product .pics a {
	cursor: -webkit-zoom-in;
}
.product .pics .pic {
	line-height: 486px;
	transition: line-height 0.3s;
	-o-transition: line-height 0.3s;
	-ms-transition: line-height 0.3s;
	-moz-transition: line-height 0.3s;
	-webkit-transition: line-height 0.3s;
}
.product .pics .pic img {
	max-width: 486px;
	max-height: 486px;
	transition: max-width 0.3s, max-height 0.3s;
	-o-transition: max-width 0.3s, max-height 0.3s;
	-ms-transition: max-width 0.3s, max-height 0.3s;
	-moz-transition: max-width 0.3s, max-height 0.3s;
	-webkit-transition: max-width 0.3s, max-height 0.3s;
}
.product .pics .active {
	z-index: 1;
	opacity: 1;
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}


/**/
/* product zoom */
/**/
.product .zoom {
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 511px;
	width: 52px;
	height: 52px;
	border-radius: 4px;
	background: #2b2b2b url(../img/product/zoom-in.png) 50% 50% no-repeat;
	font-style: normal;
	font-size: 12px;
	line-height: 52px;
	text-align: center;
	color: #e0e0e0;
	cursor: pointer;
	transition: left 0.3s, background-color 0.3s;
	-o-transition: left 0.3s, background-color 0.3s;
	-ms-transition: left 0.3s, background-color 0.3s;
	-moz-transition: left 0.3s, background-color 0.3s;
	-webkit-transition: left 0.3s, background-color 0.3s;
}
.product .zoom:hover {
	background-color: #c40303;
	text-decoration: none;
}
.product-zoomed {
	min-height: 822px;
}
.product-zoomed .info {
	margin-right: -402px;
	opacity: 0;
}
.product-zoomed .pics {
	width: 822px;
	height: 822px;
}
.product-zoomed .pics a {
	cursor: -webkit-zoom-out;
}
.product-zoomed .pics .pic {
	line-height: 822px;
}
.product-zoomed .pics .pic img {
	max-width: 822px;
	max-height: 822px;	
}
.product-zoomed .zoom {
	left: 931px;
	background-image: url(../img/product/zoom-out.png);
}



/*----------------------------------------------------------------------------*/
/*                                 CART PAGE                                  */
/*----------------------------------------------------------------------------*/

/**/
/* cart */
/**/
.cart table {
	width: 100%;
	border-collapse: collapse;
}
.cart thead th {
	padding-right: 18px;
	font-size: 10px;
	line-height: 36px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
} 
.cart thead th:last-child {
	text-align: right;
}
.cart tbody td {
	padding: 18px 18px 18px 0;
	border-top: 1px solid #ccc;
	vertical-align: top;
}
.cart tbody td:first-child {
	width: 110px;
	padding-left: 18px;
}
.cart tbody h3 {
	height: 92px;
	font-size: 15px;
	line-height: 18px;
}
.cart tbody h3:before {
	content: ' ';
	display: block;
	float: right;
	width: 1px;
	height: 108px;
	background: #e5e5e5;
}
.cart tbody dl {
	font-size: 13px;
	line-height: 24px;
}
.cart tbody dl:before {
	content: ' ';
	display: block;
	float: right;
	width: 1px;
	height: 108px;
	background: #e5e5e5;
}
.cart tbody dt {
	float: left;
	margin-right: 0.3em;
	font-weight: 700;
}
.cart tbody .pic {
	display: block;
	width: 110px;
	height: 110px;
	font-size: 0;
	text-align: center;
}
.cart tbody .pic img {
	max-width: 110px;
	max-height: 110px;
}
.cart tbody .delete {
	font-size: 11px;
	line-height: 18px;
}
.cart tbody .delete a {
	text-decoration: underline;
}
.cart tbody .delete a:hover {
	text-decoration: none;
}
.cart tbody .change {
	display: block;
	float: left;
	margin-top: 12px;
	padding: 0 8px;
	border-radius: 3px;
	background: #d9d9d9;
	font-size: 10px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.cart tbody .price {
	font-size: 18px;
	font-weight: 700;
	text-align: right;
}
.cart .clearfix {
	margin-top: 18px;
	padding-top: 17px;
	border-top: 1px dashed #bfbfbf;
}
.cart .clearfix dl {
	padding: 0 18px 9px;
	font-size: 13px;
	line-height: 36px;
}
.cart .clearfix dt {
	float: right;
	font-size: 16px;
	font-weight: 700;
}
.cart .clearfix dd {
	padding-bottom: 9px;
}
.cart .clearfix .input {
	width: 190px;
}
.cart .clearfix .right-col {
	float: right;
	width: 336px;
}
.cart .clearfix .discount {
	color: #0d6e1a;
}
.cart .clearfix .total {
	padding: 33px 18px 36px 0;
	border-top: 3px solid #3d3d3d;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	text-align: right;
}
.cart .payment-nav {
	float: left;
	margin: 0;
}
.cart .payment-nav li:first-child {
	visibility: hidden;
	height: 9px;
	line-height: 18px;
	margin: 0;
}
.cart footer {
	height: 48px;
	margin-bottom: 54px;
}
.cart footer .button-secondary {
	float: left;
}



/*----------------------------------------------------------------------------*/
/*                               CHECKOUT PAGE                                */
/*----------------------------------------------------------------------------*/

/**/
/* checkout */
/**/
.checkout {
	float: left;
	width: 654px;
	margin-bottom: 18px;
	padding-left: 66px;
	border-bottom: 1px dashed #bfbfbf;
}
.checkout h2 {
	position: relative;
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 54px;
	font-weight: 700;
	cursor: pointer;
}
.checkout h2 span {
	position: absolute;
	top: 7px;
	left: -66px;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7c7c7c;
	line-height: 40px;
	text-align: center;
	color: #fff;
	transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.35s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}
.checkout .active span {
	background: #000;
}
.checkout .reg-info {
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 17px;
}
.checkout .form {
	display: none;
	padding-bottom: 54px;
}
.checkout .col {
	float: right;
	width: 318px;
}
.checkout .col:first-child {
	float: left;
}
.checkout .col h3 {
	margin-bottom: 18px;
	border-bottom: 1px solid #282828;
	font-size: 13px;
	line-height: 35px;
	font-weight: 700;
	text-transform: uppercase;
}
.checkout .button {
	margin-top: 18px;
}
.checkout .select-month {
	float: left;
	width: 200px;
}
.checkout .select-year {
	float: right;
	width: 112px;
}
.checkout .input-cvv {
	float: left;
	width: 150px;
	margin-right: 18px;
}
.checkout .what-is-cvv {
	position: relative;
}
.checkout .what-is-cvv dt {
	float: left;
	margin-top: 10px;
	font-size: 12px;
	line-height: 16px;
	text-decoration: underline;
	cursor: pointer;
}
.checkout .what-is-cvv dt:hover {
	text-decoration: none;
}
.checkout .what-is-cvv dd {
	position: absolute;
	z-index: 1;
	top: 42px;
	right: 0px;
	display: none;
	padding: 50px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
}
.checkout .what-is-cvv dd i {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
.checkout .what-is-cvv dd .label {
	position: absolute;
	top: 16px;
	left: 18px;
	line-height: 18px;
}
.checkout-cart {
	margin-bottom: 0;
	border-bottom: 0;
}
.checkout-cart .form {
	padding-bottom: 0;
}
.checkout-cart .button {
	margin-top: 0;
}


/**/
/* checkout progress */
/**/
.checkout-progress {
	float: right;
	width: 198px;
	padding: 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
}
.checkout-progress header {
	padding: 18px;
	margin: -18px -18px 0;
	border-radius: 4px 4px 0 0;
	background: #282828;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.checkout-progress dl {
	padding: 0 18px;
}
.checkout-progress dt {
	position: relative;
	margin: 18px 0 6px;
	font-size: 13px;
	line-height: 18px;
	color: #000;
}
.checkout-progress dt:after {
	content: '';
	position: absolute;
	top: 0;
	left: -16px;
	width: 4px;
	height: 4px;
	margin: 7px 7px 0 0;
	border-radius: 50%;
	background: #c40303;
}
.checkout-progress dt a {
	display: block;
	float: right;
	font-size: 11px;
	font-weight: 400;
	text-decoration: underline;
}
.checkout-progress dt a:hover {
	text-decoration: none;
}
.checkout-progress dd {
	font-size: 13px;
	line-height: 18px;
	color: #5f5f5f;
}
.checkout-progress .filled {	
	font-weight: 700;
}
.checkout-progress .filled:after {
	left: -18px;
	width: 8px;
	height: 8px;
	margin: 4px 5px 0 0;
}



/*----------------------------------------------------------------------------*/
/*                                   FOOTER                                   */
/*----------------------------------------------------------------------------*/

/**/
/* secondary phone */
/**/
.secondary-phone {
	position: relative;
	margin: 24px 0 0 -62px;
	padding-left: 62px;
}
.secondary-phone p {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
}
.secondary-phone p:first-child {
	margin-bottom: 2px;
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
}
.secondary-phone i {
	position: absolute;
	top: 0;
	left: 0;
	width: 62px;
	height: 37px;
	font-size: 28px;
	line-height: 33px;
	text-align: center;	
}


/**/
/* info nav */
/**/
.info-nav {
	margin-top: 24px;
	font-size: 11px;
	line-height: 24px;
}
.info-nav li:first-child {
	margin-bottom: 6px;
	font-weight: 700;
	text-transform: uppercase;
}


/**/
/* social nav */
/**/
.social-nav {
	margin-top: 24px;
}
.social-nav li {
	display: block;
	float: left;
	margin-right: 12px;
	font-size: 19px;
	line-height: 19px;
}
.social-nav li:first-child {
	float: none;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 24px;
}
.social-nav a {
	text-decoration: none;
}
.social-nav a:hover .icon-facebook-sign {
	color: #0e498c;
}
.social-nav a:hover .icon-twitter {
	color: #0d9edb;
}
.social-nav a:hover .icon-google-plus-sign {
	color: #c03818;
}
.social-nav a:hover .icon-pinterest {
	color: #cc0505;
}


/**/
/* payment nav */
/**/
.payment-nav {
	margin-top: 36px;
}
.payment-nav li {
	display: inline-block;
	margin-right: 10px;
}
.payment-nav li:first-child {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 24px;
}


/**/
/* copyrights */
/**/
.copyrights {
	margin-top: 24px;
	font-size: 11px;
	line-height: 18px;
}